
*.xml
/.idea
test.py
static/images/image-1.jpg
static/images/image-10.jpg
static/images/image-11.jpg
static/images/image-12.jpg
static/images/image-13.jpg
static/images/image-14.jpg
static/images/image-15.jpg
static/images/image-2.jpg
static/images/image-3.jpg
static/images/image-4.jpg
static/images/image-5.jpg
static/images/image-6.jpg
static/images/image-7.jpg
static/images/image-8.jpg
static/images/image-9.jpg
stastic/images
/static/images