<!DOCTYPE html>
<html>
<head>
  <title>Image Tournament</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body{
      background: linear-gradient(to right, skyblue, blue);
    }
    a {
      font-size: 2em;
    }
    h1 {
      text-align: center;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
      font-size: 3em;
      margin-top: 25%;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Image Tournament</h1>
    <a href="{{ url_for('start') }}" class="btn btn-primary d-block mx-auto mt-4">Start New Tournament</a>
  </div>
</body>
</html>